body.light {
  background-color: hsl(0, 0%, 98%) !important;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}
body.dark{
  background-color: hsl(207, 26%, 17%) !important;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}
.dark .header,.dark .theme-button,.dark .moon-icon,.dark .card,.dark .searchinput,.dark .input-group-text,.dark .dropdown , .dark .dropdown-menu , .dark .dropdown-item , .dark .dropdown-toggle,.dark .button,.dark .left-sec button{
  background-color: hsl(209, 23%, 22%)!important;
  color: white !important;
} 
.dark .inside-card{
  color: white;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white !important;
  padding: 15px 100px;
}

.header h2 {
  font-weight: 700;
}

.theme-button {
  border: none;
  background-color: white;
  font-weight: 300;
  cursor: pointer;
  padding-left: 10px;
    color: black;
    font-weight: 400;
}

.card-container {
  display: flex !important;
  flex-wrap: wrap !important;
  align-items: center !important;
  justify-content: center;
  margin: 0 !important;
}
.card {
  margin: 25px;
  width: 17rem !important;
  justify-content: space-between;
  height: 370px !important;
}

.card-img-top {
  width: 100%;
  height: 200px;
}
.dark .card-title{
  color: white;
}
.card-title {
  font-weight: 800;
  cursor: pointer;
  padding-bottom: 8px;

}
.card-body {
  padding: 30px !important;
}

.title {
  font-weight: 600;
}
.card-text{
  line-height: 0.4;
  color: hsl(200, 15%, 8%);
}
.dark .card-text{
  color: white;
}

.searchbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 140px 10px 140px;
}
.searchinput {
  border: none !important;
  width: 100%;
  height: 50px;
  color: black;
}

.input-group {
  width: 450px !important;
  height: 50px;
  flex-wrap: nowrap !important;
  border-radius: 7px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);

}
.input-group-text {
  background: white !important ;
  border: none !important;
}

.search-icon {
  color: hsl(0, 0%, 52%);
}
.dark .search-icon{
  color: white;
}
.dropdown{
  border-radius: 7px;
}
.dark .dropdown-items {
  background-color: hsl(209, 23%, 22%);
  color: white ;
  min-width: 175px;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-items {
  background-color: #fff;
  min-width: 175px;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  border-radius: 7px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
}


.inside-card {
  padding: 100px;
  display: flex;
  justify-content: space-between;
}
.left-sec {
  display: flex;
  flex: 1;
  padding-right: 150px;
  flex-direction: column;
  align-items: start;
}
.flag-img {
  width: 450px;
  height: 350px;
  padding-top: 50px;
}
.left-sec button {
  background-color: white;
  color: black;
  border: none;
}
.button {
  background-color: white;
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.right-sec {
  display: flex;
  flex: 2;
  flex-direction: column;
  padding-top: 120px;
}
.right-sec h1 {
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: bolder;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 10px;
}
.right-sec p {
  font-size: 14px;
  line-height: 1;
}

@media screen and (max-width: 480px) {
  .header {
    width: 100%;
    height: 80px;
    padding: 8px 20px;
  }
  .header h2 {
    font-size: larger;
  }
  .theme-button {
  border: none;
  background-color: white;
  cursor: pointer;
  padding-left: 0;
  color: black;
  font-weight: 400;
}
.searchbar {
  display:block;
  padding: 20px;

}
.input-group {
  width: 440px !important;
  box-shadow: none !important;
}
.dropdown {
  padding: 30px 0px 0px ;
}
.card-container {
  display: flex !important;
  flex-wrap: wrap !important;
  align-items: center !important;
  justify-content: center;
  margin: 0 !important;
  position: relative;
}
.card {
  margin: 0 0 20px 0;
  width: 60vb !important;
  justify-content: space-between;
  height: 450px !important;
  position: absolute;
}
.card-img-top {
  width: 100%;
  height: 250px;
}
.card-title {
    font-size: 24px;
    padding: 10px;
}
.card-text {
    padding-left: 10px;
}
.inside-card {
  padding:10px;
  display: flex;
  flex-direction: column ;
  gap: 20px;
}
.left-sec {
  display:flex;
  padding: 0;
  align-items: center;
  text-align: center;
}
.button {
  width: 150px;
  align-self: start;
}
.flag-img {
  width:80vw ;
  height: 350px;
  padding-top: 50px;
}
.right-sec {
  display: grid;
  flex-direction: row;
  padding-top: 20px;
  padding-left: 20px;
  text-align:start ;
  align-items: start !important;
}
.right-sec h1 {
  font-size: 26px;
  margin-bottom: 30px;
  font-weight: bolder;
}
.grid {
  display: grid !important;
  grid-template-columns:none !important;  
  gap: 10px;
}
.right-sec p {
  font-size: 14px;
  line-height: 1;
}
}







@media screen and (min-width: 480px) and (max-width: 767px) {
  .header {
    width: 100%;
    padding: 20px 40px;
  }
  .header h2 {
    padding: 5px;
    font-size: larger;
  }
  .searchbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 25px;
}
.input-group {
  width: 300px !important;
  height: 50px;
  flex-wrap: nowrap !important;
  border-radius: 7px;
  box-shadow: 2px 2px hsla(0, 0%, 52%, 0.215);
}
.dropdown {
  padding-right: 0;

}
.card {
  margin: 10px 10px 25px 10px;
  width: 16rem !important;
  justify-content: space-between;
  height: 350px !important;
}
}
